@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.theme-color {
    background-color: #7800D2;
}

.theme-color:hover {
    background-color: #6500b1;
}

.theme-color:disabled {
    background-color: #6500b1;
}

.link-theme-color {
    color: #7800D2;
    text-decoration: none;
}

.link-theme-color:hover {
    color: #6500b1;;
    text-decoration: none;
}

[data-tab-info] {
    display: none;
}
  
.active-tab[data-tab-info] {
    display: block;
}

.description-input {
    height: 75px;
}