@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.theme-color {
    background-color: #7800D2;
}

.theme-color:hover {
    background-color: #6500b1;
}

[data-tab-info] {
    display: none;
}
  
.active-tab[data-tab-info] {
    display: block;
}